<div class="main-div">

  <div class="img-div">
    <img src="../assets/Hero.png" class="custom-logo" />
  </div>
  <div>
    <div class="about-outer-div">
      <div class="about-inner-div">
        <p class="custom-p-about">About</p>
      </div>
    </div>
    <div>
      <ul class="main-ul-div">
        <li class="custom-li-margin">
          <a
            class="custom-li-link"
            target="_blank"
            href="https://ee-designportal.s3.amazonaws.com/assets/pdfs/1_KloudJet_Overview.pdf"
            >Kloudjet Overview</a
          >
        </li>
        <li class="custom-li-margin">
          <a
            class="custom-li-link"
            href="https://ee-designportal.s3.amazonaws.com/assets/pdfs/5_KloudJet_BuildingBlocks_DesignPortal.pdf"
            >Design Portal</a
          >
        </li>
        <li class="custom-li-margin">
          <a
            class="custom-li-link"
            href="https://ee-designportal.s3.amazonaws.com/assets/pdfs/3_KloudJet_BuildingBlocks_Template_Example.pdf"
            >Template Example</a
          >
        </li>
      </ul>
    </div>
    <div class="header-div">
      <pre
        class="
        custom-header-text
        "
      >
              Congratulations,
    Your project is deployed successfully!!
      </pre>
      <div class="ping-div">
        <button
          class="
          custom-button
          "
          type="submit"
          (click)="ping()"
        >
          Ping
          <span
            *ngIf="isPing"
            class="spinner-grow spinner-grow-sm"
            role="status"
            aria-hidden="true"
          ></span>
        </button>
      </div>
      <div class="terminal-main-div">
        <div
          class="
            coding
            inverse-toggle
            px-5
            pt-4
            shadow-lg
            text-gray-100 text-sm
            font-mono
            subpixel-antialiased
            bg-gray-800
            pb-6
            rounded-lg
            leading-normal
            overflow-hidden
          "
        >
          <div class="top mb-2 flex">
            <div class="h-3 w-3 bg-red-500 rounded-full"></div>
            <div class="ml-2 h-3 w-3 bg-orange-300 rounded-full"></div>
            <div class="ml-2 h-3 w-3 bg-green-500 rounded-full"></div>
          </div>
          <div class="custom-terminal-msg-div">
            <span class="custom-terminal-role">computer:~$</span>
          
            <pre *ngIf="isResponse"> {{ apiResponse }}</pre>
            <pre ng-bind-html="apiResponse.html" *ngIf="!isResponse">
 Welcome </pre
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer
    class="
    footer-div
    "
  >
    &copy;2021 Impetus Technologies, Inc. All Rights Reserved
  </footer>
</div>
